apiVersion: v1
kind: Secret
metadata:
  name: alibaba-account-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "accessKeyID": "LwerhfsfF3efsfjsfFAKED",
      "accessKeySecret": "upFJERewjfwejfewifjsflsajfwe37FAKED"
    }
